.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: rgb(20, 20, 20);
    color: white;
    z-index: 10;
   
}
.navBar div{
    font-family: 'Delius', cursive;}

.navBar ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 17px;
    font-family: 'Lora', serif;
}