.container-projetos{
    background-color: rgb(11, 11, 11);
    padding-bottom: 5%;
    overflow: hidden;
}

.container-projetos h1{
    color: white;
    padding: 5% 0 0 5%;
    font-size: 50px;
    font-family: 'Delius', cursive;
}

.projetos{
    padding: 3% 0 0% 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-img-projetos{
    margin: 2% 1% 2% 1%;
    display: flex;
    flex-direction: column;
}

.img-projetos{
    border-radius: 20px;
    border: white solid 1px;
    width: 370px;
    height: 270px;
    transition: all linear 0.3s;
    cursor: pointer;
    position:relative;
    filter: grayscale(70%);
}
.img-projetos:hover{
    transform: scale(1.05);
    filter: grayscale(0%);
}


.container-btn{
    margin-top: 10%;
    text-align: center;
}

.btn-projetos{
    color: white ;
    background-color: rgb(93, 93, 160);
    padding: 3% 5%;
    border-radius: 20px;
    border: solid 1px white;
}

.container-btn-vermais{
    text-align: center;
    width: 100%;
}
.btn-vermais{
    color: white ;
    background-color: rgb(93, 93, 160);
    padding: 20px 60px;
    border-radius: 20px;
    border: solid 1px white;
    cursor: pointer;
}


@media  (max-width: 700px) { 
    .container-projetos h1{
        text-align: center;
        padding: 5% 0 0 0;
    }
    .img-projetos{
        width: 280px;
        height: 180px;
        filter: grayscale(0%);
    }
}


